<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
  window.onload = function() {
    console.log("Hello world", 3, {a: 4, b: 5}, ["abc", 3, "def"]);
  }
  </script>
</head>
<body>
</body>
</html>
