<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="initial_request">
    <% for header in request.env.select {|k,v| k.match("^HTTP.*")} %>
      <%=header[0].split('_',2)[1]%>: <%=header[1]%>
    <% end %>
  </div>
  <div id="ajax_request"></div>
  <script type="text/javascript">
      var request = new XMLHttpRequest();
      request.open('GET', '/apparition/headers');
      request.onload = function(e){
        var div = document.getElementById('ajax_request');
        div.innerHTML = request.responseText;
      }
      request.send();
  </script>
</body>
</html>
